@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Croissant One', serif;
  box-sizing:content-box;
}

.board {
  width: 65%;
  height: 70%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
  position: relative;
}

.player1 {
  width: 111px;
  height: 48px;
  background: transparent url('./assets/blue_static.png') 0 0 no-repeat;
  position: absolute;
  animation: idle-blue .9s steps(6) infinite;
  left: 20px;
  z-index: 100000;
}

.player2 {
  width: 120px;
  height: 60px;
  background: transparent url('./assets/red_static.png') 0 0 no-repeat;
  animation: idle-white .9s steps(6) infinite;
  position: absolute;
  right: 20px;
}

.playerMoving1 {
  width: 111px;
  height: 48px;
  background: transparent url('./assets/white_run.png') 0 0 no-repeat;
  position: absolute;
  animation: run_blue 10s steps(8) infinite;
  left: 0;
  transition: .5s ease-in-out;
}

.playerMoving2 {
  width: 120px;
  height: 60px;
  background: transparent url('./assets/red_run.png') 0 0 no-repeat;
  position: absolute;
  animation: run_red 1s steps(8) infinite;
  transition: 4s ease-in-out;
}

@keyframes idle-blue {
  100% {
    background-position: 0 -290px;
  }
}

@keyframes idle-white {
  100% {
    background-position: 0 -384px;
  }
}

@keyframes run_blue {
  100% {
    background-position: 0 -384px;
  }
}

@keyframes run_red {
  100% {
    background-position: 0 -512px;
  }
}

div[id^='square'] {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Brickwall4_Texture.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: 0;
  right: auto;
  bottom: 0;
}


#square1,
#square3,
#square6,
#square8,
#square9,
#square11,
#square14,
#square16 {
  background-image: url('./assets/Brickwall5_Texture.png') !important;
  background-size: cover;
  background-position: center;
}

#square1 {
  grid-area: 1 / 1 / 2 / 2;
  border-top-left-radius: 5px;
}

#square2 {
  grid-area: 1 / 2 / 2 / 3;
}

#square3 {
  grid-area: 1 / 3 / 2 / 4;
}

#square4 {
  grid-area: 1 / 4 / 2 / 5;
  border-top-right-radius: 5px;
}

#square5 {
  grid-area: 2 / 1 / 3 / 2;
}

#square6 {
  grid-area: 2 / 2 / 3 / 3;
}

#square7 {
  grid-area: 2 / 3 / 3 / 4;
}

#square8 {
  grid-area: 2 / 4 / 3 / 5;
}

#square9 {
  grid-area: 3 / 1 / 4 / 2;
}

#square10 {
  grid-area: 3 / 2 / 4 / 3;
}

#square11 {
  grid-area: 3 / 3 / 4 / 4;
}

#square12 {
  grid-area: 3 / 4 / 4 / 5;
}

#square13 {
  grid-area: 4 / 1 / 5 / 2;
  border-bottom-left-radius: 5px;
}

#square14 {
  grid-area: 4 / 2 / 5 / 3;
}

#square15 {
  grid-area: 4 / 3 / 5 / 4;
}

#square16 {
  grid-area: 4 / 4 / 5 / 5;
  border-bottom-right-radius: 5px;
}
